<template>
    <b-navbar toggleable="lg" variant="faded" type="light" class="Navbar-container">
        <b-navbar-brand href="#">NavBar</b-navbar-brand>    
        <b-collapse is-nav>
            <b-navbar-nav>
                <b-nav-item to="/Scoring/MFO_V2" exact>Scoring</b-nav-item>
            </b-navbar-nav>
        </b-collapse>
            <div class="Navbar-container_Profile">
                <div>
                    <p>Артем Суходоев</p>
                    <small>Послушник JS</small>
                </div>  
            </div>
    </b-navbar>
</template>

<script>
    export default {
        name: "Navbar",
    }
        
</script>

<style lang="scss">
    .Navbar-container{
        width: 100%;
        position: fixed;
        height: 70px;
        padding-left: 9%;
        padding-right: 15%;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

        .Navbar-container_Profile{
            width: 300px;
            padding: 1%;
            position: absolute;
            height: 70px;
            border-left: 1px solid silver;
            display: flex;
            line-height: 11px;
            margin-left: 72%;

            small{
                color: rgb(201, 195, 195);
                font-weight: bold;
            }
            
        }
    }
</style>