<template>
    <div>
        <Navbar/>
        <router-view/>
    </div>
</template>

<script>
export default {
    name: "Main",
    components: {
        Navbar: () => import('@/components/layouts/Navbar')
    }
}
</script>

<style>

</style>