<template>
    <div class="ScoringHistory-container_border">
        <div class="ScoringHistory-container_status">
            <h6>Статус:</h6>
            <small>Ожидание ответа</small>
            <p>12.06.17</p>
        </div>
        <div class="ScoringHistory-container_person">
            <h6>Имя:</h6>
            <h5>Иван Иванов</h5>
        </div>
        <div class="ScoringHistory-container_file">
            <h6>Отчет:</h6>
        </div>
    </div>
</template>
<script>
export default {
  name: "reports_cart",
  props: {
    uniqueid: { type: String, default: "" },
    scoreId: { type: String, default: "" },
    score: { type: Number, default: 0 },
    systemDateTime: { type: String, default: "20-04-08T18:21:09" },
    userName: { type: String, default: "" },
  },
};
</script>

<style lang="scss">
        .ScoringHistory-container_border {
            height: 110px;
            width: 5px;
            border: 1px solid rgb(244, 247, 249);
        }

        .ScoringHistory-container_status {
            width: 15%;
            border-right: 1px solid rgb(244, 247, 249);
            padding: 1%;
            line-height: 6px;

            h6 {
            color: silver;
            font-size: 0.9rem;
            }
            small {
                font-size: 0.8rem;
            }
            p {
            margin-top: 40px;
            font-size: 0.9rem;
            color: silver;
            }
        }

        .ScoringHistory-container_person {
            padding: 1%;
            width: 30%;
            border-right: 1px solid rgb(244, 247, 249);
            h6 {
            color: silver;
            font-size: 0.9rem;
            }
        }

        .ScoringHistory-container_file {
            padding: 1%;
            h6 {
            color: silver;
            font-size: 0.9rem;
            }
        }
    
</style>