<template>
  <div class="ScoringForm-container">
    <div class="ScoringForm-container_header">
      <h2>Заявка на получение Скоринга МФО V.2.</h2>
    </div>
    <div class="ScoringForm-container_form">
      <!-- Personal Passport-->
      <h4>Паспортные данные</h4>
      <b-row class="mt-3 px-2">
        <b-col cols="3">
          <label class="MyLabel" for="input-NumberPassport">Number of Passport</label>
          <b-form-input
            id="input-NumberPassport"
            v-model="ScoringMFO_V2.IdReq.idNum"
            :state="$v.ScoringMFO_V2.IdReq.idNum.$error"
            aria-describedby=""
            placeholder="Number of Passport"
            trim
          >
          </b-form-input>
        </b-col>

        <b-col cols="2">
          <label class="MyLabel" for="input-seriesNumber">Series of Passport</label>
          <b-form-input
            id="input-seriesNumber"
            v-model="ScoringMFO_V2.IdReq.seriesNumber"
            :state="$v.ScoringMFO_V2.IdReq.seriesNumber.$error"
            aria-describedby=""
            placeholder="Series of Passport"
            trim
          >
          </b-form-input>
        </b-col>

        <b-col cols="1">
          <label class="MyLabel" for="input-Type">Type</label>
          <b-form-input
            id="input-Type"
            v-model="ScoringMFO_V2.IdReq.idType"
            :state="nameState"
            aria-describedby=""
            placeholder="Type"
            trim
          >
          </b-form-input>
        </b-col>

        <b-col cols="2">
          <label class="MyLabel" for="input-live">Issue date</label>
          <b-form-input id="input-live" v-model="ScoringMFO_V2.IdReq.issueDate"  type="date"> </b-form-input>
        </b-col>
      </b-row>

      <b-row class="px-2 mt-3">
        <b-col cols="4">
          <label class="MyLabel" for="input-live">Issue Country</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.IdReq.issueCountry"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Issue Country"
            trim
          >
          </b-form-input>
        </b-col>

        <b-col cols="4">
          <label class="MyLabel" for="input-live">Issue Authority</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.IdReq.issueAuthority"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Issue Authority"
            trim
          >
          </b-form-input>
        </b-col>
      </b-row>
      <hr />
      <!-- PersonalReq-->
      <h4>Информация о заемщике</h4>
      <b-row class="mt-3 px-2">
        <b-col cols="4">
          <label class="MyLabel" for="input-live">First Name</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.IdReq.firstName"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="First Name"
            trim
          >
          </b-form-input>
        </b-col>
        <b-col cols="4">
          <label class="MyLabel" for="input-live">Last Name</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.IdReq.lastName"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Last Name"
            trim
          >
          </b-form-input>
        </b-col>
        <b-col cols="4">
          <label class="MyLabel" for="input-live">Paternal</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.IdReq.paternal"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Paternal"
            trim
          >
          </b-form-input>
        </b-col>
      </b-row>
      <b-row class="px-2 mt-3">
        <b-col cols="3">
          <label class="MyLabel" for="input-live">Gender</label>
          <b-form-groupe>
            <b-form-radio-group
              class="ScoringForm-container_form-radio"
              v-model="ScoringMFO_V2.PersonReq.gender"
              size="lg"
              :options="options"
              inline
            >
            </b-form-radio-group>
          </b-form-groupe>
        </b-col>
        <b-col cols="2">
          <label class="MyLabel" for="input-live">Date</label>
          <b-form-input id="input-live" v-model="ScoringMFO_V2.IdReq.date" type="date"> </b-form-input>
        </b-col>
        <b-col cols="3">
          <label class="MyLabel" for="input-live">placeOfBirth</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.IdReq.placeOfBirth"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Paternal"
            trim
          >
          </b-form-input>

        </b-col>
      </b-row>
      <hr />
      <!-- Address Req Propiska-->
      <h4>Адресс Прописки</h4>
      <b-row class="mt-3 px-2">
        <b-col col lg="6" md="8" sm="12">
          <label class="MyLabel" for="input-live">City</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.AddressReq.city"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Enter your city"
            trim
          >
          </b-form-input>
        </b-col>
        <b-col col lg="6" md="8" sm="12">
          <label class="MyLabel" for="input-live">Street</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.AddressReq.street"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Enter your street"
            trim
          >
          </b-form-input>
        </b-col>
      </b-row>

      <b-row class="mt-3 px-2">
        <b-col lg="3" md="3" sm="4">
          <label class="MyLabel" for="input-live">House Namber</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.AddressReq.houseNumber"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="House Namber"
            trim
          >
          </b-form-input>
        </b-col>
        <b-col lg="3" md="3" sm="4">
          <label class="MyLabel" for="input-live">Apartament</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.AddressReq.apartment"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Apartament"
            trim
          >
          </b-form-input>
        </b-col>
        <b-col lg="3" md="3" sm="4">
          <label class="MyLabel" for="inputPostal">Postal</label>
          <b-form-input
            id="inputPostal"
            v-model="ScoringMFO_V2.AddressReq.postal"
            :state="postalValid"
            aria-describedby="inputPostal-feedback"
            placeholder="Postal"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="inputPostal-feedback">
            Введите 6 цифр
          </b-form-invalid-feedback>
        </b-col>
      </b-row>
      <hr />
      <!-- Address Req Fact-->
      <h4>Фактический Адресс</h4>
      <b-row class="mt-3 px-2">
        <b-col col lg="6" md="8" sm="12">
          <label class="MyLabel" for="input-live">City</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.AddressReqFact.city"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Enter your city"
            trim
          >
          </b-form-input>
        </b-col>

        <b-col col lg="6" md="8" sm="12">
          <label class="MyLabel" for="input-live">Street</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.AddressReqFact.street"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Enter your street"
            trim
          >
          </b-form-input>
        </b-col>
      </b-row>

      <b-row class="mt-3 px-2">
        <b-col lg="3" md="3" sm="4">
          <label class="MyLabel" for="input-live">House Namber</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.AddressReqFact.houseNumber"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="House Namber"
            trim
          >
          </b-form-input>
        </b-col>

        <b-col lg="3" md="3" sm="4">
          <label class="MyLabel" for="input-live">Apartament</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.AddressReqFact.apartament"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Apartament"
            trim
          >
          </b-form-input>
        </b-col>

        <b-col lg="3" md="3" sm="4">
          <label class="MyLabel" for="inputPostalFact">Postal</label>
          <b-form-input
            id="inputPostalFact"
            v-model="ScoringMFO_V2.AddressReqFact.postal"
            :state="postalValidFact"
            aria-describedby="inputPostalFact-feedback"
            placeholder="Postal"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="inputPostalFact-feedback">
            Введите 6 цифр
          </b-form-invalid-feedback>
        </b-col>
      </b-row>
      <hr />

      <!-- InquiryReq -->

      <h4>Сводка </h4>
      <b-row class="mt-3 px-2">
        <b-col lg="2" md="3" sm="4" >
            <label class="MyLabel" for="input-live">consent Flag</label>
            <b-form-checkbox
              id="checkbox-1"
              v-model="ScoringMFO_V2.InquiryReq.ConsentReq.consentFlag"
              name="checkbox-1"
              value="accepted"
              unchecked-value="not_accepted"
            >
              OK
            </b-form-checkbox>
        </b-col>

        <b-col cols="2">
          <label class="MyLabel" for="input-live">consent Date</label>
          <b-form-input id="input-live" v-model="ScoringMFO_V2.InquiryReq.ConsentReq.consentDate"  type="date"> </b-form-input>
        </b-col>

        <b-col cols="2">
          <label class="MyLabel" for="input-live">consent Expire Date</label>
          <b-form-input id="input-live" v-model="ScoringMFO_V2.InquiryReq.ConsentReq.consentExpireDate"  type="date"> </b-form-input>
        </b-col>

        <b-col lg="2" md="2" sm="4">
          <label class="MyLabel" for="input-live">consent Purpose</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.InquiryReq.ConsentReq.consentPurpose"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="consent Purpose"
            trim
          >
        </b-form-input>
        </b-col>
      </b-row>
      <b-row class="mt-3 px-2">
        <b-col lg="4" md="4" sm="4">
          <label class="MyLabel" for="input-live">other Consent Purpose</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.InquiryReq.ConsentReq.otherConsentPurpose" 
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="other Consent Purpose"
            trim
          >
          </b-form-input>
        </b-col>

        <b-col lg="4" md="4" sm="4">
          <label class="MyLabel" for="input-live">report User</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.InquiryReq.ConsentReq.reportUser"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="report User"
            trim
          >
          </b-form-input>
        </b-col>

        <b-col lg="2" md="3" sm="4" >
          <label class="MyLabel" for="input-live">liability</label>
          <b-form-checkbox
            id="checkbox-1"
            v-model="ScoringMFO_V2.InquiryReq.ConsentReq.liability"
            name="checkbox-1"
            value="accepted"
            unchecked-value="not_accepted"
          >
            OK
          </b-form-checkbox>
        </b-col>
        
      </b-row>
      <b-row class="mt-3 px-2">
        <b-col lg="3" md="3" sm="3">
          <label class="MyLabel" for="input-live">inqPurpose</label>
          <b-form-input
            id="input-live"
            :state="nameState"
            v-model="ScoringMFO_V2.InquiryReq.inqPurpose"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="inqPurpose"
            trim
          >
          </b-form-input>
        </b-col>

        <b-col lg="3" md="3" sm="3">
          <label class="MyLabel" for="input-live">inqAmount</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.InquiryReq.inqAmount"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="inqAmount"
            trim
          >
          </b-form-input>
        </b-col>

        <b-col lg="2" md="2" sm="2">
          <label class="MyLabel" for="input-live">currencyCode</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.InquiryReq.currencyCode"
            :state="nameState"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="currencyCode"
            trim
          >
          </b-form-input>
        </b-col>

      </b-row>
      <hr />
      <!-- Buttions -->
      <b-row class="mt-4">
        <b-col lg="3" md="4" sm="7" class="pb-2">
          <b-button @click="createReports" class="Btn-success" size="lg">Отправить заявку</b-button>
        </b-col>
      </b-row>
      
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  name: "ScoringForm",
  data: () => {
    return {
      ScoringMFO_V2: {
        AddressReq: {
          houseNumber: "",
          street: "",
          apartment: "",
          city: "",
          postal: "",
          addressType: 1
        },
        AddressReqFact: {
          houseNumber: "",
          street: "",
          apartment: "",
          city: "",
          postal: "",
          addressType: 2
        },
        PersonReq: {
          lastName: "",
          firstName: "",
          paternal: "",
          gender: 0,
          date: "",
          placeOfBirth: "",
        },
        IdReq: {
          idNum: "",
          idType: "",
          seriesNumber: "",
          issueCountry: "",
          issueDate: "",
          issueAuthority: "",
        },
        InquiryReq: {
          ConsentReq: {
            consentFlag: false,
            consentDate: "",
            consentExpireDate: "",
            consentPurpose: "",
            otherConsentPurpose: "",
            reportUser: "",
            liability: false,
          },
          inqPurpose: "",
          inqAmount: "",
          currencyCode: ""
        },
      },
      options: [
        { text: "M", value: 1 },
        { text: "V", value: 0 },
      ],
    };
  },
  validations: {
    ScoringMFO_V2: {
        AddressReq: {
          houseNumber: { required },street: { required },apartment: { required },city: { required },postal: { required },addressType: { required }
        },
        AddressReqFact: {
          houseNumber: { required },street: { required },apartment: { required },city: { required },postal: { required },addressType: { required }
        },
        PersonReq: {
          lastName: { required },firstName: { required },paternal: { required },gender: { required },date: { required },placeOfBirth: { required },
        },
        IdReq: {
          idNum: { required },idType: { required },seriesNumber: { required },issueCountry: { required },issueDate: { required },issueAuthority: { required },
        },
        InquiryReq: {
          ConsentReq: {consentFlag: { required },consentDate: { required },consentExpireDate: { required },consentPurpose: { required },otherConsentPurpose: { required },reportUser: { required },liability: { required },
          },
          inqPurpose: { required },
          inqAmount: { required },
          currencyCode: { required }
        },
      },
  },
  computed: {
    ...mapGetters({
      ReqStatus: "ReqStatus"
    }),
    postalValid() { 
      return this.ScoringMFO_V2.AddressReq.postal.length == 6 ? true: false || typeof(+this.ScoringMFO_V2.AddressReq.postal) == 'number' ? true: false
    },
    postalValidFact() { 
      return this.ScoringMFO_V2.AddressReqFact.postal.length == 6 ? true: false || typeof(+this.ScoringMFO_V2.AddressReq.postal) == 'number' ? true: false
    },
  },
  methods: {
    ...mapActions({
      reqScoring: 'reqScoring'
    }),
    createReports(){
      this.reqScoring(this.ScoringMFO_V2);
    }
  },
};
</script>

<style lang="scss">
  .ScoringForm-container {
    //margin-top: 2%;  ??
    background-color: rgb(255, 255, 255);
    min-height: 1500px;


    .ScoringForm-container_header {
      height: 80px;
      border-bottom: 2px solid rgb(244, 247, 249);
      padding: 1.5%;

      h2 {
        font-weight: bold;
      }
      
    }

    .ScoringForm-container_form {
      padding: 2%;

      .MyLabel {
        color: rgb(168, 168, 168) ;
        font-size: 1.2rem;
      }

      hr {
        z-index: -1110;
      }

      .Btn-success {
        background-color: #ffffff;
        border-color: rgba(38, 208, 124);
        color: rgba(38, 208, 124);
        font-weight: 600;
        font-size: 1.2rem;
      }

      .ScoringForm-container_form-radio{
          
      }

    }
  }
</style>