<template>
    <b-container class="ScoringForm-wrapper" fluid>
        <b-row>
            <b-col offset-xl="1" xl="2" col lg="3" md="12" sm="12">
                <div class="ScoringNav-container">
                    <b-nav>
                        <b-nav-item to="/Scoring/MFO_V2" exact> Скоринг МФО V.2.</b-nav-item>
                        <b-nav-item to="/Scoring/ScoringHistory" exact> History</b-nav-item>
                    </b-nav>
                </div>
            </b-col>
            <b-col col lg="9" md="12" sm="12">
                <router-view/>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
    nama: "Scoring"
}
</script>

<style lang="scss">

    .ScoringForm-wrapper{
        padding: 1%;
        padding-top: 110px;
        padding-right: 4%;

        .ScoringNav-container{
            //margin-top: 2%;  ?? 
            background-color: rgb(255, 255, 255);
            height: 200px;
            font-size: 1.5rem;
            color: #000000;
            border-radius: 1%;
            line-height: 1rem;
            padding-top: 30px;
        }

    }

</style>