<template>
    <div class="ScoringHistory-container">
        <div class="ScoringHistory-container_header">
            <h2>История операций</h2>
        </div>
        <div class="ScoringHistory-container_history">

            <b-row class="ScoringHistory-container_setting">
                <b-col  xl="2" col lg="3" md="3">
                    <b-dropdown id="dropdown-offset" offset="100" text="Сортировать" >
                        <b-dropdown-item>по дате</b-dropdown-item>
                        <b-dropdown-item>по номеру</b-dropdown-item>
                    </b-dropdown>
                </b-col>   
            </b-row>
            <div class="ScoringHistory-container_list">
                <div class="ScoringHistory-container_row"
                    v-for="(item, key) in Reports"
                    :key="key"
                >
                <ReportsComponent
                    :uniqueId ="item.uniqueid"
                    :scoreId ="item.scoreId" 
                    :score ="item.score" 
                    :systemDateTime ="item.systemDateTime" 
                    :userName ="item.userName" 
                />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
    name: "ScoringHistory",
    data: () => {
        return {
            
        };
    },
    components: {
        ReportsComponent: () => import('@/components/scoring_components/reports_cart.vue')
    },
    computed: {
        ...mapGetters({
            Reports: "Reports"
        })
    },
    methods: {
        ...mapActions({
            getReports: "getReports"
        })
    },
    mounted(){
        this.getReports();
    }
}
</script>

<style lang="scss">
    .ScoringHistory-container{
        background-color: rgb(255, 255, 255);
        min-height: 900px;

        .ScoringHistory-container_header{
            height: 80px;
            border-bottom: 2px solid rgb(244, 247, 249);
            padding: 1.5%;

            h2 {
                font-weight: bold;
            }
        }

        .ScoringHistory-container_history{
            padding: 1%;

            .ScoringHistory-container_setting{
                padding-left: 1%;
                padding-top: 1%;
            }   

            .ScoringHistory-container_list {
                overflow: auto;
                margin-top: 3%;
                background-color: rgb(244, 247, 249);
                max-height: 700px;
                border: 1px solid rgb(244, 247, 249);

                .ScoringHistory-container_row {
                    margin-top: 4px;
                    display: flex;
                    max-height: 110px;
                    background-color: rgb(255, 255, 255);
                }
            }
        }  
    }
</style>